menu {
    display: flex;
    list-style: none;
    padding: 0;
    width: 500px;
}

li {
    flex-grow: 1;
}

a {
    width: 100%;
}

pre {
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre-wrap;
    overflow-x: auto;
    background: aliceblue;
    border: 3px solid #868686;
    padding: 15px;
}
